<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1"/> 
    <!--<add key="ServerIP" value="192.168.1.168"/-->
    <add key="ServerPort" value="10001"/>
    <add key="RefreshLimit" value="10"/>
    <add key="RefreshTrigger" value="5"/>
  </appSettings>
</configuration>